p{
    margin-bottom: 0rem !important;
}


.btn1 {
    width: 100%;
    /* height: 50px; */
    border: none;
    color: white;
    /* margin-top: 1vmax; */
    background-color: #38B2AC;
    border-radius: 4px;
    /* box-shadow: inset 0 0 0 0  yellow; */
    transition: ease-out 0.3s;
    font-size: 16px;
    outline: none;
    padding: 10px 10px;
}

.btn1:hover {
    box-shadow: inset 400px 0 0 0 #11047A;
    cursor: pointer;
    /* color: #000; */
}

.table> Thead > tr > th{
    border: 1px solid black;
    background-color: #38B2AC;
    color: white;
    text-align: center;
}

.table> Tbody > tr > td{
    border: 1px solid black;
    /* margin: 0 20px !important; */
    /* background-color: #11047A; */
    /* color: white; */
    text-align: center;

}

.submitBtn{
    background-color: #38B2AC;
    width: 80%;
    margin: auto ;
    margin-top: 10px;
    padding: 10px 0;
    color: white;
    border-radius: 10px;
    font-weight: 600;
}

.deletebtn{
    color: red;
}

